<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info text-center">Aradığınız kayda ulaşılamıyor.</h1>
        <hr />   @*Alta düz çizgi*@
        <a class="btn btn-outline-success" asp-controller="movies" asp-action="Index">Anasayfa</a>
    </div>
</div>